extends layout

block content
    .container
        h1 About Me - #{author}
        p Im a programmer and Blogger Hello
        ul
            li Coding
            li Bloggin
            li Financial Independance
            li Life