extends layout

block content
    .jumbotron.jumbotron-background.jumbotron-font-color
        .container
            h1 Where Life Meets code
            .col-sm-6.text-center
                h2 Logs on Life
                p Here you will find the daily logs of my life and philosophies, the meandering of my brain can be a funny place at times, but maybe Bruce Lee thought that once or twice.
            .col-sm-6.text-center
                h2 Logs on Code
                p My experience with developing myself as a coder and the challenges a developer will face, also some guides on doing it yourself
    .container
        .row
            .col-md-4.link-boxes
                h2 About Me - #{author}
                p I'm a Frontend Web Developer with a flare for life, I try and bring my coding and logical thought into my everyday life.
                a.btn.btn-primary.btn-lg(href="#") View More
            .col-md-4.link-boxes
                h2 Contact Me
                p My Email
                br
                p My Phone Number
                a.btn.btn-primary.btn-lg(href="#") View More
            .col-md-3.link-boxes
                h2 Coffee Meet Up
                p Where to meet me for a coffee
                a.btn.btn-primary.btn-lg(href="#") View More
        
    